<div class="row mx-5 my-5">
  <div class="col justify-content-center">
    <h1 class="text-center">Edit Order</h1>
    <br>
    <%= render 'form', order: @order %>
  </div>
  <div class="col text-center my-1">
    <h3>*All Fields Required*</h3>
    <br>
    <p>Order can only be saved with a valid customer id.</p>
  </div>
</div>



<div class="row">
  <div class="col-md-12 text-center my-3">
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to 'Show', @order, class: "btn btn-info btn-sm" %>
      <%= link_to 'Back', @order, class: "btn btn-info btn-sm" %>
    </div>
  </div>      
</div>  




